/*-----------------------------
          Global Style
-------------------------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth; 
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%; 
  } 
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%; 
  } 
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%; 
  } 
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
  color: #151515; 
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  overflow: hidden; 
}

ul, li a {
  list-style: none;
  text-decoration: none;
  color: #fff; 
}

/*---------------------GRID SYSTEM---------------------*/
.row {
  width: 100%; 
}
.row::after {
  content: "";
  display: table;
  clear: both; 
}
.row [class^="col-"] {
  float: left; 
}
.row [class^="col-"]:not(:last-child) {
  margin-right: 4rem; 
}
.row .col-1-of-2 {
  width: calc((100% - 4rem) / 2); 
}
@media (max-width: 56.25em) {
  .row .col-1-of-2 {
    width: 100%; 
  } 
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 4rem) / 3); 
}
@media (max-width: 37.5em) {
  .row .col-1-of-3 {
    width: 100%; 
  } 
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 4rem) / 3) + 4rem); 
}
@media (max-width: 37.5em) {
  .row .col-2-of-3 {
    width: 100%; 
  } 
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 4rem) / 4); 
}
@media (max-width: 37.5em) {
  .row .col-1-of-4 {
    width: 100%; 
  } 
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 4rem) / 4) + 4rem); 
}
@media (max-width: 37.5em) {
  .row .col-2-of-4 {
    width: 100%; 
  } 
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 4rem) / 4) + 2 * 4rem); 
}

/*---------------------UTILITIES---------------------*/
.u-center-text { text-align: center; }
.u-margin-bottom-big { margin-bottom: 10rem; }
.u-margin-bottom-medium { margin-bottom: 8rem; }
.u-margin-bottom-small { margin-bottom: 4rem; }
.u-margin-bottom-extra-small { margin-bottom: 2rem; }
.u-margin-top-small { margin-top: 1rem; }
.u-font-weight-light { font-weight: 300; }
.u-font-weight-bold { font-weight: 700; }
.u-small-letter-spacing { letter-spacing: .1rem; }
.u-color-white { color: #fff; }

/*---------------------HEADINGS---------------------*/
.heading-primary {
  line-height: 1.1;
  backface-visibility: hidden; 
}
.heading-primary__title {
  color: #fff;
  display: block; 
}
.heading-primary--main {
  font-size: 4rem;
  color: #F17B15;
  font-family: 'Rancho', cursive;
  letter-spacing: 3px;
  animation-name: moveInLeft;
  animation-duration: 1s; 
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); 
  }
  100% {
    opacity: 1;
    transform: translateX(0); 
  } 
}
.heading-primary--sub {
  font-size: 5rem;
  animation-name: moveInRight;
  animation-duration: 1s; 
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); 
  }
  100% {
    opacity: 1;
    transform: translateX(0); 
  } 
}

.heading-secondary {
  line-height: 1.5;
  color: #151515;
  font-size: 2rem;
  position: relative; 
}
.heading-secondary--title {
  display: block; 
}
.heading-secondary--title:first-child {
  font-size: 1.9rem;
  color: #F17B15;
  font-weight: 400; 
}
.heading-secondary--title:last-child {
  font-size: 3.6rem;
  font-family: 'Rancho', cursive;
  letter-spacing: .1rem; 
}
.heading-secondary::after {
  content: "";
  position: absolute;
  top: 9rem;
  left: 50%;
  height: 3px;
  width: 3rem;
  background-color: #F17B15;
  transform: translateX(-50%); 
}

.heading-tertiary {
  font-size: 1.8rem; 
}

.heading-quaternary {
  font-size: 1.6rem; 
}
.heading-quaternary--margin {
  margin: 0 1rem; 
}

/*---------------------PARAGRAPHS---------------------*/
.about__paragraph,
.services-box__paragraph,
.menu__paragraph {
  font-size: 1.6rem;
  color: #969696; 
}

.about__paragraph {
  margin-bottom: 5rem; 
}

.testimonials__paragraph {
  font-size: 1.8rem;
  width: 80%;
  text-align: center;
  display: inline-block;
  line-height: 1.7; 
}

.footer__paragraph {
  font-size: 1.4rem; 
}

.popup__paragraph {
  font-size: 1.3rem; 
}

/*---------------------ACTIVE LINK---------------------*/
.active::before {
  content: "";
  position: absolute;
  top: 3.3rem;
  left: 2px;
  height: 2px;
  width: 100%;
  background-color: #F17B15; 
}

/*---------------------BUTTONS---------------------*/
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  font-size: 1.6rem;
  border: none; 
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.2); 
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.2); 
}

.btn--green {
  background-color: #4D6219;
  color: #fff;
  margin-top: 4rem;
  padding: 1.5rem 4rem; 
}

.btn--orange {
  background-color: #F17B15;
  color: #fff;
  padding: 1.1rem 3.5rem;
  display: inline-block;
  cursor: pointer; 
}
.btn--orange:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); 
}
.btn--orange:focus {
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2); 
}

.btn--animated {
  animation: moveInBottom 1s ease-out .75s;
  animation-fill-mode: backwards; 
}
@keyframes moveInBottom {
  0% {
    transform: translateY(10rem);
    opacity: 0; 
  }
  100% {
    transform: translateY(0);
    opacity: 1; 
  } 
}


/*-----------------------------
          HERO SECTION
-------------------------------*/
.hero {
  background: #000;
  height: 100vh;
  position: relative;
  width: 100%; 
}

/*-----------BACKGROUND VIDEO--------------*/
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .15;
  z-index: 0; 
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: fill; 
}

/*-----------HEADER--------------*/
.hero .header {
  width: 100%;
  padding-top: 2rem; 
}
.hero .header .logo {
  float: left;
  color: #fff;
  line-height: 1.1;
  z-index: 2;
  position: relative;
  z-index: 2; 
}
@media (max-width: 56.25em) {
  .hero .header .logo {
    padding-left: 3rem;
    margin-top: 1rem; 
  } 
}
.hero .header .logo--main {
  font-size: 2rem;
  letter-spacing: .5rem;
  display: block; 
}
.hero .header .logo--sub {
  font-size: 1.4rem;
  font-weight: 300;
  display: block; 
}

/*-----------NAVIGATION--------------*/
.hero .header .navigation {
  float: right;
  line-height: 2.5;
  font-size: 1.4rem; 
}
@media (max-width: 56.25em) {
  .hero .header .navigation {
    display: none; 
  } 
}
.hero .header .navigation__list {
  float: left; 
}
.hero .header .navigation__item {
  display: inline-block;
  margin-left: 3.5rem;
  position: relative; 
}
.hero .header .navigation__item::after {
  content: "";
  position: absolute;
  top: 3.3rem;
  left: 2px;
  height: 2px;
  width: 100%;
  background-color: #F17B15;
  transform: scaleX(0);
  transition: transform .5s ease;
  transform-origin: left; 
}
.hero .header .navigation__item:hover::after {
  transform: scaleX(1); 
}
.hero .header .navigation__link {
  text-transform: uppercase;
  transition: 2s linear;
  color: #fff; 
}

/*-----------HAMBURGER NAVIGATION--------------*/
.hamburger {
  display: none; 
}
@media (max-width: 56.25em) {
  .hamburger {
    display: initial; 
  } 
}
.hamburger__checkbox {
  display: none; 
}
.hamburger__button {
  background-color: #fff;
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 2.5rem;
  right: 2rem;
  border-radius: 50%;
  z-index: 40;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; 
}
.hamburger__background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 3rem;
  right: 2.5rem;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 30;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); 
}
.hamburger__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 35;
  visibility: hidden;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}
.hamburger__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; 
}
.hamburger__item {
  margin: 1rem; 
}
.hamburger__link:link, .hamburger__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  padding: .5rem 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s;
  backface-visibility: hidden; 
}
.hamburger__checkbox:checked ~ .hamburger__background {
  transform: scale(150); 
}
.hamburger__checkbox:checked ~ .hamburger__nav {
  opacity: 1;
  visibility: visible;
  width: 100%; 
}
.hamburger__icon {
  position: relative;
  margin-top: 2.5rem; 
}
.hamburger__icon, .hamburger__icon::before, .hamburger__icon::after {
  display: inline-block;
  width: 2rem;
  height: 1px;
  background-color: #151515; 
}
.hamburger__icon::before, .hamburger__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s; 
}
.hamburger__icon::before {
  top: -.5rem; 
}
.hamburger__icon::after {
  top: .5rem; 
}
.hamburger__checkbox:checked + .hamburger__button .hamburger__icon {
  background-color: transparent; 
}
.hamburger__checkbox:checked + .hamburger__button .hamburger__icon::before {
  top: 0;
  transform: rotate(135deg); 
}
.hamburger__checkbox:checked + .hamburger__button .hamburger__icon::after {
  top: 0;
  transform: rotate(-135deg); 
}

/*-----------TEXT HERO--------------*/
.hero__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 65%;
  color: #fff; 
}
.hero__paragraph {
  font-size: 1.6rem;
  margin-top: 2rem;
  font-weight: 300;
  animation-name: fadeIn;
  animation-duration: 1.5s; 
}
@keyframes fadeIn {
  0% {
    opacity: 0; 
  }
  100% {
    opacity: 1; 
  } 
}

/*-----------------------------
          INFO SECTION
-------------------------------*/
.info {
  padding: 6rem 0;
  background-color: #710502; 
}

.info-box {
  font-size: 1.4rem;
  padding: 2rem;
  text-align: center;
  color: #fff; 
}
.info-box__icon {
  font-size: 4rem;
  display: inline-block;
  color: #fff;
  margin-bottom: 1.4rem; 
}
.info-box__text {
  font-weight: 300; 
}
.info-box__text--detail {
  display: block; 
}

/*-----------------------------
          ABOUT SECTION
-------------------------------*/
.about {
  padding-top: 18rem;
  position: relative; 
}

@media (max-width: 56.25em) {
  .about__heading-responsive {
    padding-left: 2rem; 
  } 
}

@media (max-width: 37.5em) {
  .about__heading-responsive {
    margin-bottom: 2rem; 
  } 
}

@media (max-width: 56.25em) {
  .about__paragraph-responsive {
    padding-right: 2rem; 
  } 
}

@media (max-width: 37.5em) {
  .about__paragraph-responsive {
    padding-left: 2rem; 
  } 
}

@media (max-width: 37.5em) {
  .about__img-responsive:not(:last-child) {
    margin-bottom: 3rem; 
  } 
}

.about .wrapper {
  position: relative; 
}

.about .wrapper__icon--right, .about .wrapper__icon--left {
  display: inline-block;
  position: absolute;
  font-size: 5rem;
  color: #151515;
  top: 50%;
  transform: translateY(-50%);
  transition: all .3s; 
}

.wrapper__icon--left {
  left: 4.5rem; 
}

.wrapper__icon--right {
  right: 4.5rem; 
}

.about .wrapper__icon--right:hover, .about .wrapper__icon--left:hover {
  color: #F17B15; 
}

@media (max-width: 56.25em) {
  .about .wrapper__icon--right, .about .wrapper__icon--left {
    display: none; 
  } 
}
@media (max-width: 37.5em) {
  .about .wrapper__icon--right, .about .wrapper__icon--left {
    display: none; 
  } 
}

.composition-about {
  width: 100%;
  height: 36rem;
  position: relative;
  overflow: hidden; 
}

.composition-about .composition-about__photo {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


/*-----------------------------
         SERVICES SECTION
-------------------------------*/
.services {
  padding-top: 18rem;
  position: relative; 
}

.services-box {
  font-size: 1.4rem;
  padding: 2rem;
  text-align: center;
  color: #151515; 
}
@media (max-width: 56.25em) {
  .services-box {
    width: 50%;
    margin: 0 auto; 
  } 
}
@media (max-width: 37.5em) {
  .services-box {
    width: 40%;
    margin: 0 auto; 
  } 
}
.services-box__icon {
  position: relative;
  display: inline-block;
  width: 10rem;
  height: 10rem;
  margin-bottom: 1.8rem;
  background-color: #4D6219;
  border-radius: 50%; 
}
.services-box__icon--p {
  width: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

@media (max-width: 56.25em) {
  .services__responsive {
    width: 50% !important;
    margin-right: 0 !important; 
  } 
}

@media (max-width: 37.5em) {
  .services__responsive {
    width: 100% !important; 
  } 
}


/*-----------------------------
          VIDEO SECTION
-------------------------------*/
.video {
  margin-top: 18rem;
  background: url("../img/video-img/video-img.png") center no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
  width: 100%;
  text-align: center; 
}

.video__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.video__heading-secondary {
  font-size: 3rem;
  color: #fff;
  font-weight: 300; 
}

.video__icon {
  margin-top: 2rem;
  display: inline-block; 
}

.video__icon--p {
  width: 100%;
  cursor: pointer;
  font-size: 7rem;
  color: #fff;
  transition: all .6s; 
}

.video__icon--p:hover {
  color: #F17B15; 
}

 
/*-----------------------------
          MENU SECTION
-------------------------------*/
.menu {
  padding-top: 18rem;
  position: relative; 
}

.navigation-menu {
  line-height: 2.5;
  font-size: 1.6rem;
  text-align: center; 
}

.navigation-menu__list {
  display: inline-block;
  margin-left: 2rem; 
}

.navigation-menu__item {
  display: inline-block;
  position: relative; 
}

.navigation-menu__item:not(:first-child) {
  margin-left: 3.5rem; 
}

.navigation-menu__item::after {
  content: "";
  position: absolute;
  top: 3.3rem;
  left: 2px;
  height: 2px;
  width: 100%;
  background-color: #F17B15;
  transform: scaleX(0);
  transition: transform .5s ease; 
}

.navigation-menu__item:hover::after {
  transform: scaleX(1); 
}

.navigation-menu__link {
  text-transform: uppercase;
  transition: 2s linear;
  color: #151515; 
}

.menu-wrapper {
  position: relative; 
}
@media (max-width: 56.25em) {
  .menu-wrapper {
    padding: 0 20rem;
    margin-bottom: 2rem; 
  } 
}
@media (max-width: 37.5em) {
  .menu-wrapper {
    padding: 0 3rem; 
  } 
}

.menu-wrapper__shape {
  width: 8rem;
  height: 8rem;
  float: left;
  border-radius: 50%;
  overflow: hidden; 
}

.menu-wrapper__img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.menu-wrapper__text {
  transform: translate(1.2rem, 1rem); 
}

.menu-wrapper__dot {
  margin-top: -.5rem;
  color: #404044;
  width: 64%;
  overflow: hidden; 
}
@media (max-width: 56.25em) {
  .menu-wrapper__dot {
    width: 73%;
    margin-right: auto; 
  } 
}
@media (max-width: 37.5em) {
  .menu-wrapper__dot {
    width: 65%;
    margin-right: auto; 
  } 
}

.menu-wrapper__price {
  float: right;
  margin-top: -4.3rem;
  font-size: 2.3rem; 
}


/*-----------------------------
      TESTIMONIALS SECTION
-------------------------------*/
.testimonials {
  margin-top: 18rem;
  padding-top: 8rem;
  background: url("../img/testimonials/1.jpg") center no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
  width: 100%;
  text-align: center;
  color: #fff; 
}


/*-----------------------------
        EVENTS SECTION
-------------------------------*/
.events {
  padding-top: 18rem;
  position: relative; 
}

.composition-events {
  width: 100%;
  height: 36rem;
  position: relative;
  overflow: hidden; 
}

.composition-events__img {
  transform: scale(1);
  transition: all .5s;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

@media (max-width: 37.5em) {
  .events__img-responsive:not(:last-child) {
    margin-bottom: 4rem; 
  } 
}

.composition-events:hover .composition-events__img {
  transform: scale(1.4);
  filter: blur(3px) brightness(60%);
}

.composition-events__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 90%);
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
  backface-visibility: hidden; 
}

.composition-events:hover .composition-events__caption {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}

.composition-events__link:link,
.composition-events__link:visited {
  color: #fff; 
}


/*-----------------------------
        BOOK SECTION
-------------------------------*/
.book {
  margin-top: 18rem;
}

.book .form {
  width: 80%;
  margin: 0 auto; 
}
@media (max-width: 56.25em) {
  .book .form {
    width: 60%; 
  } 
}
.book .form__label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 5px; 
}
.book .form__input {
  width: 100%;
  padding: 1rem 1.3rem;
  font-size: 1.5rem; 
}

.book .form__button {
  text-align: center;
  margin-top: 5rem; 
}

@media (max-width: 56.25em) {
  .book .form__responsive {
    margin-bottom: 2rem; 
  } 
}


/*-----------------------------
            FOOTER
-------------------------------*/
.footer {
  margin-top: 16rem;
  background-color: #151515;
  color: #fff;
  padding: 5rem 0; 
}
@media (max-width: 56.25em) {
  .footer__responsive {
    width: 100% !important;
    text-align: center; 
  }
  .footer__responsive:not(:last-child) {
    margin-bottom: 2rem; 
  } 
}

.footer__link {
  color: #fff; 
}

.footer__box {
  float: right; 
}
@media (max-width: 56.25em) {
  .footer__box {
    margin: 0 auto;
    float: none; 
  } 
}

.footer__icon {
  width: 2rem;
  height: 2rem;
  display: inline-block; 
}

.footer__icon--img {
  width: 100%;
  height: 100%;
  color: #fff; 
}

.footer__icon:not(:last-child) {
  margin-right: 1rem; 
}



/*-----------------------------
            POPUP
-------------------------------*/
.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  opacity: 0;
  visibility: hidden; 
}

.popup:target {
  opacity: 1;
  visibility: visible; 
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
  backface-visibility: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all .5s .2s;
  display: table; 
}

.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1); 
}

.popup__left {
  width: 66.6666667%;
  height: 50rem;
  display: table-cell; 
}
@media (max-width: 56.25em) {
  .popup__left {
    width: 100%;
    display: block;
    height: 30rem; 
  } 
}

.popup__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.popup__right {
  width: 33.333333%;
  display: table-cell;
  vertical-align: middle;
  padding: 0 3rem; 
}
@media (max-width: 56.25em) {
  .popup__right {
    width: 100%;
    display: block;
    padding: 3rem 3rem; 
  } 
}

.popup__close:link, .popup__close:visited {
  color: #151515;
  position: absolute;
  top: 3rem;
  right: 2rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all .2s;
  line-height: 0; 
}
.popup__close:hover {
  color: #F17B15; 
}
@media (max-width: 56.25em) {
  .popup__close:link, .popup__close:visited {
    color: #fff; 
  } 
}